{% extends "base.html" %}
{% load static %}

{% block content %}
    <div id="portoPhotography">
        <h1>Photography</h1>
        <p>*every picture is taken with smartphone and remain unedited</p>
        <div id="imgList">
            <img id="img1" src="{% static 'portofolio/img1.jpg' %}" alt="">
            <img id="img2" src="{% static 'portofolio/img2.jpg' %}" alt="">
            <img id="img3" src="{% static 'portofolio/img3.jpg' %}" alt="">
            <img id="img4" src="{% static 'portofolio/img4.jpg' %}" alt="">
            <img id="img5" src="{% static 'portofolio/img5.jpg' %}" alt="">
            <img id="img6" src="{% static 'portofolio/img6.jpg' %}" alt="">
            <img id="img7" src="{% static 'portofolio/img7.jpg' %}" alt="">
            <img id="img8" src="{% static 'portofolio/img8.jpg' %}" alt="">
            <img id="img9" src="{% static 'portofolio/img9.jpg' %}" alt="">
            <img id="img10" src="{% static 'portofolio/img10.jpg' %}" alt="">
            <img id="img11" src="{% static 'portofolio/img11.jpg' %}" alt="">
            <img id="img12" src="{% static 'portofolio/img12.jpg' %}" alt="">
            <img id="img13" src="{% static 'portofolio/img13.jpg' %}" alt="">
            <img id="img14" src="{% static 'portofolio/img14.jpg' %}" alt="">
            <img id="img15" src="{% static 'portofolio/img15.jpg' %}" alt="">
            <img id="img16" src="{% static 'portofolio/img16.jpg' %}" alt="">
        </div>
    </div>
{% endblock %}