html {
    scroll-behavior: smooth;
    scroll-padding: 12vw 0 0;
}

body {
    margin: 0px; 
    padding: 0px;
    background-color: #F3F3F3;
}

@font-face {
    font-family: "Fjalla One";
    src: url(font/FjallaOne-Regular.ttf);
}

@font-face {
    font-family: "Pathway Gothic One";
    src: url(font/PathwayGothicOne-Regular.ttf);
}

.navbar {
    margin: 0px;
    margin-bottom: 40px;
    background: #3D3D3D;
    min-height: 40px;
}

.navbar a {  
    padding-left: 4px;
    padding-right: 20px; 
    font-family: "Fjalla One";
    font-size: 20px;
    color: #F3F3F3;
    text-decoration: none;
}

.narvbar #porto {
    padding-left: 10px;
}

#home {
    display: flex;
    background: url('photo/homePhoto.png');
    background-repeat: no-repeat;
    background-size: cover;  
    align-items: center;
}

#homeText {
    margin-top: 12em ;
    margin-left: 5em;
    margin-bottom: 12em;
}

#homeText h1 {
    font-family: "Fjalla One";  
    font-size: 60px;
    color: #F3F3F3;
}

#homeText #thanks {
    font-family: "Pathway Gothic One";  
    font-size: 32px;
    color: #F3F3F3;  
    line-height: 32px;
}

#homeText #regards {
    font-family: "Pathway Gothic One";  
    font-size: 24px;
    color: #F3F3F3; 
    line-height: 12px;   
}

@media only screen and (max-width: 780px) {
    #homeText {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

#aboutMe {
    margin-top: 10vw;      
    margin-bottom: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#aboutMeShapeText {
    margin-right: 3%;
    display: flex;
    justify-content: space-between;
}

#aboutMeShapeText .square {
    margin-right: 5%;
    width: 100px;
    height: auto;
    max-width: 100px;
    min-height: 250px;
    border-radius: 0px 40px 40px 0px;
    background-color: #9CE0D8;
}

#aboutMeText {
    display: flex;
    flex-direction: column;
}

#aboutMeText h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Fjalla One";
    font-size: 60px;
    text-decoration: underline;
}

#aboutMeText p { 
    font-family: "Pathway Gothic One";
    font-size: 24px;
    text-align: justify;
    text-justify: inter-word;
}

#aboutMe img {
    min-width: 400px;
    max-width: 400px;
    height: auto;
    max-height: 400px;
    border-radius: 5vw 0 0 5vw;
}

@media only screen and (max-width: 780px) {
    #aboutMe {
        flex-direction: column;
        align-items: center;
    }

    #aboutMe img {
        margin: 5vw;
        min-width: 200px;
        max-width: 280px;
        min-width: 250px;
        max-height: 280px;
        border-radius: 5vw;
    }
}

#skills {
    margin-top: 10vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vw;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#skills h1 {
    font-family: "Fjalla One";
    font-size: 60px;
    text-decoration: underline;
}

#skillsLine1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#skillsLine1 #java {
    margin: 20px;
    display: flex;
    align-items: center;
    width: 150px;
    height: 100px;
    background-color: #C4C4C4;
    background-image: url("logo/java-svgrepo-com.svg");
    background-size: 70px 70px;
    background-position: 95% 50%;
    background-repeat: no-repeat;
    border-radius: 20px;    
}

#skillsLine1 #java p {
    margin-bottom: 0;
    margin-left: 20px;
    font-family: "Pathway Gothic One";
    font-size: 40px;
}

#skillsLine1 #html5 {
    margin: 20px;
    display: flex;
    align-items: center;
    width: 150px;
    height: 100px;
    background-color: #C4C4C4;
    background-image: url("logo/HTML5_Logo.svg");
    background-size: 70px 70px;
    background-position: 95% 50%;
    background-repeat: no-repeat;
    border-radius: 20px;    
}

#skillsLine1 #html5 p {
    margin-bottom: 0;
    margin-left: 20px;
    font-family: "Pathway Gothic One";
    font-size: 40px;
}

#skillsLine1 #css {
    margin: 20px;
    display: flex;
    align-items: center;
    width: 150px;
    height: 100px;
    background-color: #C4C4C4;
    background-image: url("logo/CSS_3.svg");
    background-size: 70px 70px;
    background-position: 95% 50%;
    background-repeat: no-repeat;
    border-radius: 20px;    
}

#skillsLine1 #css p {
    margin-bottom: 0;
    margin-left: 20px;
    font-family: "Pathway Gothic One";
    font-size: 40px;
}

#skillsLine2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#skillsLine2 #illustrator {
    margin: 20px;
    display: flex;
    align-items: center;
    width: 200px;
    height: 100px;
    background-color: #C4C4C4;
    background-image: url("logo/Adobe_Illustrator_CC_icon.svg");
    background-size: 70px 70px;
    background-position: 85% 50%;
    background-repeat: no-repeat;
    border-radius: 20px;    
}

#skillsLine2 #illustrator p {
    margin-bottom: 0;
    margin-left: 20px;
    font-family: "Pathway Gothic One";
    font-size: 40px;
}

#skillsLine2 #photograph {
    margin: 20px;
    display: flex;
    align-items: center;
    width: 200px;
    height: 100px;
    background-color: #C4C4C4;
    background-image: url("logo/dslr.svg");
    background-size: 70px 70px;
    background-position: 85% 50%;
    background-repeat: no-repeat;
    border-radius: 20px;    
}

#skillsLine2 #photograph p {
    margin-bottom: 0;
    margin-left: 20px;
    font-family: "Pathway Gothic One";
    font-size: 40px;
}

#education {
    padding-top: 10vw;
    padding-bottom: 10vw;
    display: flex;
    flex-wrap: wrap;
    background-image: url("photo/eduBg.svg");
    background-repeat: no-repeat;
    background-size: 80vw 100%;     
    background-position: right;
}

#education img {
    max-width: 400px;
    height: auto;  
}

@media only screen and (max-width: 400px) {
    #education img {
        max-width: 350px;
        max-height: 350px;
    }
}

#eduHistory {
    padding-top: 3vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    text-justify: inter-word;
    background-color: #F7ED8E;
}

#eduHistory h1 {
    font-family: "Fjalla One";
    font-size: 60px;
    text-decoration: underline;
    text-align: end;
}

#eduHistory {
    font-family: "Pathway Gothic One";
}

#eduHistory #currentEdu {
    margin-top: 3vw;
    margin-bottom: 3vw;
}
#eduHistory #currentEdu h2 {
    font-size: 48px;
    line-height: 40px;
}

#eduHistory #currentEdu p {
    font-size: 36px;
}

#eduHistory #pastEdu {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    justify-content: center;
    color: #4B4B4B;
}

#pastEdu #sma {
    margin-left: 30px;
    margin-right: 30px;
}

#pastEdu #smp {
    margin-left: 30px;
    margin-right: 30px;
}

#pastEdu #sd {
    margin-left: 30px;
    margin-right: 30px;
}

#experience {
    margin-top: 10vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 10vw;
}

#experienceList {
    padding: 5vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    text-justify: inter-word;
    background-color: #414141;
    color: #F3F3F3;
}

#experienceList h1 {
    margin: 0;
    font-family: "Fjalla One";
    font-size: 52px;
    text-decoration: underline;
}

#orgCommit h2, h3, p {
    font-family: "Pathway Gothic One";
}

#orgCommit h2 {
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
}

#orgCommit h3 {
    margin-top: 10px;
    font-size: 32px;
    line-height: 32px;
}

#orgCommit p {
    font-size: 20px;
}

#orgCommit {
    margin-top: 3vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#orgCommit #organization {
    display: flex;
    flex-direction: column;
}

#orgCommit #organization {
    display: flex;
    flex-direction: column;
}

#connect {
    bottom: 0px;
    width: 100%;
    height: 120px;
    background-color: #3D3D3D;
    display: flex;
    justify-content: center;
    position: relative;
}

#connectData {
    margin-top: auto;
    margin-bottom: auto;
    flex-direction: column;
    justify-content: center;
}

#connectData p {
    font-family: "Pathway Gothic One";
    font-size: 24px;
    color: #F3F3F3;
    text-align: center;
}

#connectData img {
    width: 30px;
    height: 30px;
}

#connectData #socmed {
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#portoPhotography {
    margin-top: 120px;
    margin-bottom: 120px;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#portoPhotography h1 {
    font-family: "Fjalla One";
    font-size: 48px;
    text-decoration: underline;
    text-align: center;
}

#portoPhotography p {
    font-family: "Pathway Gothic One";
    font-size: 24px;
    text-align: center;
}

#imgList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#imgList img {
    margin: 20px;
    min-width: 150px;
    max-width: 150px;
    min-height: 150px;
    max-height: 150px;
    object-fit: cover;
}

#imgList #img1:hover {
    transition: .5s;
    max-width: 250px;
    max-height: 250px;
    object-fit: contain;
}

#imgList #img2:hover {
    transition: .5s;
    max-width: 250px;
    max-height: 250px;
    object-fit: contain;
}

#imgList #img3 {
    transform: rotate(90deg)
}

#imgList #img3:hover {
    margin-top: 52px;
    transition: .5s;
    max-width: 250px;
    max-height: 250px;
    object-fit: contain;
}

#imgList #img4 {
    transform: rotate(90deg)
}

#imgList #img4:hover {
    margin-top: 70px;
    margin-bottom: 40px;
    transition: .5s;
    max-width: 250px;
    max-height: 250px;
    object-fit: contain;
}

#imgList #img5 {
    transform: rotate(90deg)
}

#imgList #img5:hover {
    margin-top: 52px;
    transition: .5s;
    max-width: 250px;
    max-height: 250px;
    object-fit: contain;
}

#imgList #img6 {
    transform: rotate(180deg)
}

#imgList #img6:hover {
    transition: .5s;
    max-width: 250px;
    max-height: 250px;
    object-fit: contain;
}

#imgList #img7 {
    transform: rotate(90deg)
}

#imgList #img7:hover {
    margin-top: 52px;
    transition: .5s;
    max-width: 250px;
    max-height: 250px;
    object-fit: contain;
}

#imgList #img8:hover {
    transition: .5s;
    max-width: 250px;
    max-height: 250px;
    object-fit: contain;
}

#imgList #img9:hover {
    transition: .5s;
    max-width: 250px;
    max-height: 250px;
    object-fit: contain;
}

#imgList #img10:hover {
    transition: .5s;
    max-width: 250px;
    max-height: 250px;
    object-fit: contain;
}

#imgList #img11 {
    transform: rotate(180deg);
}

#imgList #img11:hover {
    transition: .5s;
    max-width: 250px;
    max-height: 250px;
    object-fit: contain;
}

#imgList #img12:hover {
    transition: .5s;
    max-width: 250px;
    max-height: 250px;
    object-fit: contain;
}

#imgList #img13 {
    transform: rotate(90deg);
}

#imgList #img13:hover {
    margin-top: 52px;
    transition: .5s;
    max-width: 250px;
    max-height: 250px;
    object-fit: contain;
}

#imgList #img14:hover {
    transition: .5s;
    max-width: 250px;
    max-height: 250px;
    object-fit: contain;
}

#imgList #img15 {
    transform: rotate(90deg);
}

#imgList #img15:hover {
    margin-top: 52px;
    transition: .5s;
    max-width: 250px;
    max-height: 250px;
    object-fit: contain;
}

#imgList #img16:hover {
    transition: .5s;
    max-width: 250px;
    max-height: 250px;
    object-fit: contain;
}

@media only screen and (max-width: 900px) {
    #portoPhotography {
        max-width: 720px;
    }
}

@media only screen and (max-width: 720px) {
    #portoPhotography {
        max-width: 500px;
    }
}

@media only screen and (max-width: 500px) {
    #portoPhotography {
        max-width: 250px;
    }
}