@font-face {
    font-family: "Fjalla One";
    src: url(font/FjallaOne-Regular.ttf);
}

@font-face {
    font-family: "Pathway Gothic One";
    src: url(font/PathwayGothicOne-Regular.ttf);
}

h1 {
    font-family: "Fjalla One";
    font-size: 32px;
}

#jadwal {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.createJadwal {
    font-family: "Pathway Gothic One";
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.jadwalForm {
    display: flex;
    flex-direction: column;
}

.listJadwal {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.listJadwal h1 {
    text-align: center;
}

.jadwalList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    line-height: 16px;  
}

.schedule {
    margin: 15px;
    min-width: 250px;
    min-height: 200px;
    background: aquamarine;
    border-radius: 40px;
}

.scheduleText {
    margin: 30px;
}

.scheduleText a {
    margin-left: auto;
    margin-right: auto;
    background: rgb(114, 9, 9);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 70px;
    height: 25px;
    color: #C4C4C4;
    font-family: 'Pathway Gothic One';
}