{% extends "base.html" %}

{% block content %}
    <div id="jadwal">
        <div class="createJadwal">
            <h1>Input Your Schedule here</h1>
            <form class="jadwalForm" action="{% url 'jadwals:create' %}" method="POST">
                <table>
                    {% csrf_token %}
                    {{ form }}
                </table>
                <input class="submitButton" type="submit" value="submit">
            </form>
        </div>

        <div class="listJadwal">
            <h1>Schedule</h1>
            <form class="jadwalList" action="{% url 'jadwals:create' %}" method="GET">  
                {% for j in jadwal %}
                    <div class="schedule">
                        <div class="scheduleText">
                            <p>Name : {{j.nama_kegiatan}}</p>
                            <p>Date : {{j.hari_kegiatan}}, {{j.tanggal_kegiatan}} - {{j.jam_kegiatan}}</p>
                            <p>Location : {{j.tempat_kegiatan}}</p>
                            <p>Category : {{j.kategori_kegiatan}}</p>
                            <a href="{% url 'jadwals:delete' j.id %}">Delete</a>
                        </div>
                    </div>
                {% endfor %}
            </form>
        </div>
    </div>
{% endblock %}}