{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <meta name= "viewport" content="width=device-width, initial-scale=1.0">
        <title>Ryo's Website</title>
        <link rel="stylesheet" href="{% static 'CSS_Story3.css' %}">
        <link rel="stylesheet" href="{% static 'jadwal.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css' %}">
    </head>

    <body>
        <nav class="navbar fixed-top navbar-expand-xl navbar-dark">
            <a class="navbar-brand" href="{% url 'home:homePage' %}">HOME</a>
            <button class="navbar-toggler mt-2" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'home:homePage' %}#aboutMe">ABOUT ME</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'home:homePage' %}#skills">SKILLS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'home:homePage' %}#education">EDUCATION</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'home:homePage' %}#experience">EXPERIENCE</a>
                </li>
                <li class="porto nav-item">
                  <a class="nav-link" href="{% url 'home:portfolio' %}">PORTOFOLIO</a>
                </li>  
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'jadwals:create' %}">SCHEDULE</a>
                </li>             
                <li class="nav-item">
                  <a class="nav-link" href="#connect">CONNECT</a>
                </li>
                <li class="divider"></li>
              </ul>
            </div>
          </nav> 

          {% block content %}
          {% endblock %}
          
          <footer id="connect">
            <div id="connectData">   
                <p>Connect With Me</p>             
                <div id="socmed">
                    <a id="fb" href="https://www.facebook.com/ryoaxton2000" target="_blank">
                        <img src="{% static 'logo/fb.svg' %}" alt="">
                    </a>
                    <a id="ig" href="https://www.instagram.com/ryo_axton" target="_blank">
                        <img src="{% static 'logo/ig.svg' %}" alt="">
                    </a>
                    <a id="linkedIn" href="https://www.linkedin.com/in/ryo-axtonlie" target="_blank">
                        <img src="{% static 'logo/linkedIn.svg' %}" alt="">
                    </a>
                </div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>
</html>